@charset "utf-8";

/* bootstrap拡張 ↓ここから */
.form-label {
    font-weight: bold;
    margin-bottom: 0 !important;
}
/* bootstrap拡張 ↑ここまで */

.bmsys-annotation {
    display: hidden;
}

.bmsys-annotation[data-state="error"] {
    display: block;
    color: #ff0000;
}

.bmsys-annotation[data-state="success"] {
    display: block;
    color: #0000ff;
}
